<div id="dispatch_schedules"></div>

<!-- Handlebar templates required by JS in this file --> 
<%= render "dispatcher_schedule.hbr.html.erb" %>

<!-- Modal windows for edit/delete operations -->
<%= render "dispatcher_delete_modal.html.erb" %>
<%= render "dispatcher_edit_modal.html.erb" %>