<script id="render_passender_booking" type="text/template">
  <div>
      <div class="table-responsive">
      </div>
        <table id="passenger_booking_table" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>Date</th>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
            <th>Time</th>
            <th>Seats</th>
            <th>Dispatcher</th>
            <th>Book</th>
          </thead>
          <tbody>
            
              {{#each train_schedules}}
                
                {{#each trains}}
                <tr>    
                  <td><input type="checkbox" class="checkthis" /></td>
                  <td>{{../date}}</td>
                  <td>{{day_of_the_week}}</td>
                  <td>{{from_city}}</td>
                  <td>{{to_city}}</td>
                  <td>{{departure_time}}</td>
                  <td>{{available_seats}}</td>
                  <td>{{dispatcher_name}}</td>
                  <td><p data-placement="top" data-toggle="tooltip" title="booking"><button class="btn btn-primary btn-xs" data-title="booking" data-toggle="modal" data-target="#booking" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                </tr>
                {{/each}}
                
              {{/each}}
          </tbody>
        </table>

        <div class="clearfix"></div>                  
        </div>
      </div>
  </div>
</script>